.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.control-panel {
  width: 300px;
  padding: 20px;
  background-color: #f8f8f8;
  border-left: 1px solid #ddd;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.control-panel h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.control-panel button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

.control-panel ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.control-panel ul li.restaurant-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.control-panel ul li .restaurant-button {
  flex-grow: 1;
  margin-right: 10px;
  text-align: left;
  background-color: #ebebeb;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-panel ul li .restaurant-button:hover {
  background-color: #d9d9d9;
}

.control-panel ul li .restaurant-button:focus {
  outline: none;
  background-color: #d9d9d9;
}

.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.readme-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

.readme-button:hover {
  background-color: #218838;
}

.control-panel ul li .remove-button {
  background: none;
  border: none;
  color: red;
  font-size: 1.2em;
  cursor: pointer;
}

.control-panel label {
  display: block;
  margin-bottom: 10px;
}

.control-panel input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
}

.roulette-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.countdown-announcement {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.winner-announcement {
  position: absolute;
  bottom: 45%;
  left: 45%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.copy-map-link {
  margin-left: 5px;
  margin-right: 5px;
}

.open-map-link {
  margin-left: 5px;
  margin-right: 5px;
}
